*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: linear-gradient(to top, #642b73, #c6426e);
}
.password-icon{
  width: 80px;
  margin-bottom: .3em;
  filter: drop-shadow(0px 2px 25px #642b73);
}
.container{
  background-color: white;
  border-radius: 1rem;
  width: 300px;
  height: auto;
  margin: auto;
  border: none;
  text-align: center;
  padding: 1em .5em;
  box-shadow: 0 2px 30px hsla(202, 90%, 55%, 0.5);
}
h2{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: .5em;
}
.passLength-label{
  margin-bottom: .3em;
}
.passLength {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: .7em;
  cursor: pointer;
  color: hsl(340, 54%, 52%);
}
.generate-btn{
  font-size: 16px;
  font-weight: bold;
  padding: 6px 6px;
  background-color: hsl(288, 46%, 31%);
  color: white;
  border: none;
  border-radius: .3em;
  margin-bottom: .5em;
  cursor: pointer;
}
.generate-btn:active{
  background-color: hsl(288, 46%, 35%);
}
.displayPass{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: .5em;
}
.yourPasswordDisplay{
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  background-color: #c6426e;
  font-weight: bold;
}

